:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

.vissual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

nav {
  margin-right: auto;
}

.nav-box {
  display: flex;
  align-items: center;
}

.link-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
}

.logo {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  width: 294px;
}

.site-nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--duration) var(--timing-function);
}

.active-page::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav-link:hover::after,
.site-nav-link:focus::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  color: black;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.list {
  list-style-type: none;
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color var(--duration) var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Main */

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  min-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero/back-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.btn:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  background-color: var(--primary-white-color);
  width: 528px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal-btn:hover .modal-icon-btn,
.modal-btn:focus .modal-icon-btn {
  fill: var(--accent-color);
}

/*Modal Form*/

.form-title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.form-group {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.form-icon {
  position: absolute;
  left: 15px;
  top: 30px;
  fill: var(--primary-text-color);
  transition: fill var(--duration) var(--timing-function);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:hover {
  cursor: pointer;
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-label {
  text-align: left;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--duration) var(--timing-function);
}

.comment-area {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color var(--duration) var(--timing-function);
}

.comment-area:hover,
.comment-area:focus {
  border-color: var(--accent-color);
}

.comment-area {
  outline: transparent;
}

.form-policy-group {
  display: flex;
  margin-left: 13px;
  align-items: center;
  margin-bottom: 40px;
}

.form-policy-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  background-color: var(--primary-white-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    background-image var(--duration) var(--timing-function);
}

.custom-checkbox:hover {
  border-color: var(--accent-color);
}

.input-check:focus + .custom-checkbox {
  border-color: var(--accent-color);
}

.input-check:checked + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../image/icon/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.input-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-check:checked + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.submit-btn {
  width: 200px;
}

.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list-ben {
  display: flex;
  padding: 0;
  margin: 0;
}

.benefits-list {
  padding-bottom: 0;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.benefits-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 0;
}

.list-ben-item {
  width: 270px;
}

.list-ben-item:not(:last-child) {
  margin-right: 30px;
}

.icon-section {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}

.main-list {
  display: flex;
  padding: 0;
}

.our-team {
  background-color: #f5f4fa;
}

.main-list-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.main-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
  padding: 0;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.label {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.title-workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.title-worker-item {
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color var(--duration) var(--timing-function);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.social-link:hover .soc-icon,
.social-link:focus .soc-icon {
  fill: var(--primary-white-color);
}

.soc-icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}

.dimianenko,
.repina,
.tarasov,
.ermakov {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
/* ======== Clients ======== */

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list-item {
  width: 170px;
  height: 92px;
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/* ======== Footer ======== */
address {
  font-style: normal;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
  align-items: baseline;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 9px;
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-list:not(:last-child) {
  margin-bottom: 9px;
}

.logo-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.logo-foot {
  display: block;
  margin-bottom: 20px;
  margin-right: 156px;
  padding: 0;
}

.foot-left {
  width: 231px;
  margin-right: 70px;
}

.foot-right {
  width: 206px;
  display: block;
}

.text-foot {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.soc-list {
  display: flex;
}

.soc-list-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-list-item:not(:last-child) {
  margin-right: 10px;
}

.foot-icon {
  fill: var(--primary-white-color);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: background-color var(--duration) var(--timing-function);
}

.foot-form {
  display: block;
  margin-left: 93px;
  width: 570px;
}

.form-foot {
  width: 358px;
  height: 50px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  color: var(--primary-white-color);
}

.form {
  display: flex;
}

.foot-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.btn-foot {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  margin-left: 12px;
}

.foot-icon-form {
  margin-left: 10px;
}
